<footer class="footer">
  <div class="md-flex justify-between">
    <div>
      <strong>Helix</strong> is your friend.
    </div>

    <div>
      &copy;2017 <a href="http://tilde.io/">Tilde, Inc.</a>
    </div>
  </div>
</footer>
