<footer class="footer">
  <div class="flex">
    <div class="flex-auto">
      &copy;2017 <a href="http://tilde.io/">Tilde, Inc.</a>
    </div>

    <div class="footer-image-container">
      <a href="/"><img src="https://raw.githubusercontent.com/tildeio/helix-website/master/images/helix-footer-small.png" /></a>
    </div>
  </div>
</footer>
