<header>
  <div class="sm-flex justify-between items-center">
    <div class="mr2">
      <a href="/"><img src="https://raw.githubusercontent.com/tildeio/helix-website/master/images/helix-logo.png" /></a>
    </div>

    <div>
      <nav>
        <ul class="list-reset">
          <li class="inline-block mr2"><a href="/getting-started">Getting Started</a></li>
          <li class="inline-block mr2"><a href="/documentation">Documentation</a></li>
          <li class="inline-block mr2"><a href="/resources">Resources</a></li>
          <li class="inline-block mr2"><a href="/roadmap">Roadmap</a></li>
          <li class="inline-block"><a href="https://github.com/tildeio/helix" target="_blank">GitHub</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
