<html>
  <head>
    <meta charset="utf-8">
    <title>Helix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/basscss.css">
    <link rel="stylesheet" href="/styles/prism.css">
  </head>

  <body>
    <div class="max-width-4 mx-auto p2">
      <%- yield %>
      <script src="/scripts/prism.js"></script>
    </div>
  </body>
</html>
