<div class="clearfix mxn2">
  <h2 class="col-8 px2 mx-auto">Getting Started</h2>

  <div class="col-6 px2 mx-auto column-item">
    <p>Downloading Rust</p>
    <pre class="language-bash">
      <code class="language-bash">
# Make sure you have Rust installed using rustup.
# https://www.rustup.rs/

# If you already have rustup installed.
$ rustup update

# Use the beta version of Rust.
$ rustup install beta
      </code>
    </pre>
  </div>

  <div class="col-8 px2 mx-auto column-item">
    <p>If you'd like to use Helix in your own project, check out our <a href="/documentation">documentation</a>.</p>
  </div>
