<div class="clearfix mxn2">
  <h2 class="col-8 px2 mx-auto">Resources</h2>

  <div class="col-8 px2 mx-auto column-item">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PbJI8yCsEkA?ecver=1" frameborder="0" allowfullscreen></iframe>

    <p>Godfrey's talk introducing Helix at RailsConf 2016</p>
    <p>
      Related blog post <a href="http://blog.skylight.io/introducing-helix/" target="_blank">here</a>.
    </p>
  </div>

  <div class="col-8 px2 mx-auto column-item">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LazvK39Oc4U?ecver=1" frameborder="0" allowfullscreen></iframe>

    <p>Yehuda's talk about Rust at RailsConf 2015</p>
    <p>
      Related blog post <a href="http://blog.skylight.io/rust-means-never-having-to-close-a-socket/" target="_blank">here</a>.
    </p>
  </div>
</div>
