<footer class="footer">
  <div class="flex">
    <div class="flex-auto">
      &copy;2017 <a href="http://tilde.io/">Tilde, Inc.</a>
    </div>

    <div class="footer-image-container">
      <a href="/"><%= image_tag "helix-footer-small.png" %></a>
    </div>
  </div>
</footer>
