<header>
    <nav>
      <ul class="list-reset">
        <li class="inline-block mr2"><a href="/getting_started">Getting Started</a></li>
        <li class="inline-block mr2"><a href="/documentation">Documentation</a></li>
        <li class="inline-block mr2"><a href="/demos">Demos</a></li>
        <li class="inline-block mr2"><a href="/resources">Resources</a></li>
        <li class="inline-block mr2"><a href="/roadmap">Roadmap</a></li>
        <li class="inline-block"><a href="https://github.com/tildeio/helix" target="_blank">GitHub</a></li>
      </ul>
    </nav>

    <div class="logo">
      <a href="/"><%= image_tag "helix-logo.png" %></a>
    </div>

  </div>
</header>
