body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  font-size: 300%;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  width: 70%;
  margin: 2rem auto;

  strong {
    color: #696;
  }
}

h2 {
  text-align: center;
  margin: 2rem 0;
}
