body {
  font-family: 'Raleway', sans-serif;
}

.front-page-code-snippet {
  height: 300px;
}

.footer {
	border-top: 1px solid gray;
  font-size: 0.875rem;
  padding: 1rem;
  margin-top: 350px;
  background-color: white;
}
