body {
  font-family: 'Roboto Slab', serif;
}

.dotted-background {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(84, 84, 84, 0.2),
    rgba(84, 84, 84, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(84, 84, 84, 0.2),
    rgba(84, 84, 84, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(84, 84, 84, 0.2),
    rgba(84, 84, 84, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(84, 84, 84, 0.2),
    rgba(84, 84, 84, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  -webkit-background-size: 5px 5px;
  -moz-background-size: 5px 5px;
  background-size: 5px 5px;
}

.subtitle {
  font-weight: 300;
  padding-bottom: 40px;
}

.front-page-code-snippet {
  height: 300px;
}

.creatures-container {
  padding-bottom: 20px;
}

.small-creature {
  padding: 0 20px 0 20px;
}

.column-item {
  padding-bottom: 30px;
}

.hi-five {
  text-align: center;
  padding-top: 80px;
}

.progress-bar-container {
  background-color: #FFFFFF;
  border: 1px solid #A71515;
  width: 80%;
  margin: 0 auto;
}

.progress-bar {
  color: #FFFFFF;
  background-color: #A71515;
  height: 30px;
  width: 20%;
  text-align: center;
  padding-top: 10px;
}

.footer {
	border-top: 1px solid gray;
  font-size: 0.875rem;
  padding: 1rem;
  margin-top: 300px;
  background-color: none;
}

a {
  text-decoration: none;
  color: #A71515;

  &:hover {
    color: #E94343;
  }
}

p {
  font-weight: 300;
  line-height: 1.3em;
  text-align: justify;
}
